.wraper-part {
    display: grid;
    grid-template-areas:
  "h g"
  "b b";
    grid-template-rows:1fr 1fr ;
    grid-template-columns:2fr 10fr;
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}
.header-ftomWho{
    grid-area: h;
    text-align: left;
}
.header-time {
    grid-area: g;
    text-align: right;
}
.body-message{
    grid-area: b;
    text-align: left;
}
.border{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.message{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    padding: 20px;
    max-width: 1000px;
}